.reabledit table {
  width: 100%;
  border: 2px solid #ddd;
  border-collapse: collapse;
}

.reabledit th, .reabledit td {
  border: 1px solid #ddd;
  padding: 5px;
}

.reabledit th {
  background-color: #f3f3f3;
}

.reabledit td.selected {
  background-color: #f9f9f9;
  border: 2px solid #4ca2d8;
}