.reabledit {
  border: 2px solid #ddd;
  overflow: auto;
  height: 100%;
}

.reabledit-resize-area {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.reabledit-row {
  display: flex;
}

.reabledit-header {
  background-color: #f3f3f3 !important;
  font-weight: bold;
}

.reabledit-header-handle {
  width: 10px;
  height: 100%;
  float: right;
  cursor: ew-resize;
}

.reabledit-cell {
  flex: 0 0 auto;
  min-width: 75px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ddd;
  height: 30px;
  outline: none;
  overflow: hidden;
}

.reabledit-cell.selected {
  background-color: #f9f9f9;
  border: 1px solid #4ca2d8;
}

.reabledit-cell span {
  padding-left: 7px;
}

.reabledit-cell input {
  width: 100%;
  height: 100%;
  padding-left: 6px;
  font-size: 95%;
  box-sizing: border-box;
}

.reabledit-dropdown {
  position: absolute;
  width: 300px;
}

.reabledit-dropdown:focus {
  outline: none;
}

.reabledit-dropdown-items {
  position: absolute;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 100%;
}

.reabledit-dropdown-item {
  display: flex;
  align-items: center;
  height: 30px;
}

.reabledit-dropdown-item.selected {
    background-color: #4ca2d8;
    color: #fff;
}